/* droplogin estilo simple — versión personalizada para login */
.droplogin {
    position: relative;
    display: inline-block;
    font-weight: 700 !important;
    width: 13em;
}

.droplogin-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 0.3em;
    overflow: hidden;
    border: 2px solid #ff7600;
    margin-top: 1.6em;
    color: #ff7600;
    width: 100%;
}

/* Botones dentro del droplogin */
.droplogin-content button {
    width: 100%;
    background: none;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    text-align: center;
    shape-rendering: geometricprecision;
    color: #ff7600;
    font-weight: 700;
}

.droplogin-content button:hover {
    color: #fff;
    background-color: #ff7600;
}

/* Mostrar el contenido cuando está activo */
.droplogin.show .droplogin-content {
    display: block;
}

/* Íconos dentro del droplogin */
.droplogin-content button {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
}

.droplogin-content button img.icon-droplogin {
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(56%) sepia(75%) saturate(4013%) hue-rotate(1deg) brightness(104%) contrast(105%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Rotación horizontal del ícono de salida */
.icon-logout {
    transform: scaleX(-1);
}

/* Hover: íconos blancos al pasar */
.droplogin-content button:hover img.icon-droplogin {
    filter: brightness(0) invert(1);
}

/* Estado normal del icono principal */
.mi-cuenta img.icon-right {
    filter: brightness(0) saturate(100%) invert(56%) sepia(75%) saturate(4013%) hue-rotate(1deg) brightness(104%) contrast(105%);
    transition: filter 0.1s ease-in-out;
}

/* Cuando el menú está abierto */
.mi-cuenta.open img.icon-right {
    filter: brightness(0) saturate(100%) invert(0%) sepia(32%) saturate(0%) hue-rotate(339deg) brightness(95%) contrast(101%) !important;
}

/* Cuando el menú está abierto, también cambia el botón */
.mi-cuenta.open .btn-login {
    color: #000 !important;
    background: #fff !important;
    border: 2px solid #000 !important;
}

/* Responsivo */
@media (max-width: 600px) {
    .mi-cuenta img.icon-right {
        position: relative !important;
        top: -0.6em;
        margin-left: -28.7em;
        cursor: pointer;
    }

    .pp-logo {
        margin-top: -16em !important;
    }

    .pp-logo-svg {
        margin-top: 16.2em;
        display: block !important;
    }

    .mail-icon {
        margin-left: 11em;
    }

    #cart-toggle {
        margin-top: -0.3em;
    }

    .cart-icon {}
}